@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-black;
    @apply uppercase;
  }
  h2 {
    @apply text-2xl;
    @apply font-black;
    @apply text-accentColor;
    @apply uppercase;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
